#error-page {
  height: 100vh;
}

.errorContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  img {
    width: 100%;
    height: 260px;

    @include mobile {
      padding: 0 20px;
    }
  }

  .errorText {
    text-align: center;

    h1 {
      color: #ff6060;
    }

    a {
      text-decoration: underline;
      margin-bottom: 40px;
      color: black;
    }
  }
}
