.dropdown {
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  h3 {
    background-color: #ff6060;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;

    &:hover {
      background-color: #cc4c4c;
    }
  }

  p {
    background-color: #f6f6f673;
    color: black;
    padding: 10px;
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin: 0;
  }

  &.open p {
    max-height: 200px;
    transition: max-height 0.3s ease-in;
  }
}
