.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;

  .dropdownHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
    border: transparent;
    border-radius: 10px;

    &:hover {
      background-color: #cc4c4c;
    }
  }

  .dropdownContent {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
    transform: translateY(0);
  }

  .dropdownContent.open {
    max-height: 100vh;
    opacity: 1;
    transform: translateY(0);
  }

  p {
    background-color: #f6f6f673;
    color: black;
    padding: 10px;
    max-height: 200px;
    overflow: hidden;
    transition: all 3s ease-out;
    margin: 0;
  }

  &.open p {
    max-height: 200px;
    transition: all 3s ease-in;
  }

  .chevron {
    transition: transform 0.5s ease;
  }

  .chevron.rotate {
    transform: rotate(-180deg);
  }
}
