.logementDetail {
  display: flex;
  flex-direction: column;
  margin: 45px 100px 0;
  width: 100%;

  @include mobile {
    margin: 20px;
    width: auto;
  }

  .logementContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @include mobile {
      flex-direction: column;
      gap: 15px;
    }

    .container1 {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @include mobile {
        flex-direction: column;
        gap: 15px;
      }
    }

    .container2 {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @include mobile {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
      }
    }

    .logementText {
      flex-direction: column;
      display: flex;
      gap: 15px;
    }

    .hostInfo {
      position: relative;
      display: flex;
      align-items: center;
    }

    p {
      width: 80px;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50px;
    }

    .rating {
      display: flex;
      gap: 5px;
    }
  }
  .dropdownWrapper {
    display: flex;
    gap: 80px;
    margin-top: 25px;

    @include mobile {
      gap: 10px;
      flex-direction: column;
    }
  }
}
