.logementDetail {
  display: flex;
  flex-direction: column;
  margin: 45px 100px 0;

  .logementContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .container1,
    .container2 {
      display: flex;
      justify-content: space-between;
    }

    .hostInfo {
      position: relative;
      display: flex;
      gap: 10px;
      align-items: center;
    }

    p {
      width: 80px;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50px;
    }

    .rating {
      display: flex;
      gap: 5px;
    }
  }
  .dropdownWrapper {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
