nav {
  display: flex;
  border: 1px white solid;

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 57px;
    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
