nav {
  display: flex;

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 57px;

    @include mobile {
      gap: 20px;
      align-items: center;
      font-size: 12px;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
