@import "partials/mixins";
@import "partials/header";
@import "partials/footer";
@import "partials/home";
@import "partials/nav";
@import "partials/banner";
@import "partials/cardContainer";
@import "partials/404";
@import "partials/logementDetail";
@import "partials/carousel";
@import "partials/tags";
@import "partials/dropdown";
@import "partials/about";

html {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;

  h2 {
    font-size: 24px;
    font-weight: 500;
    color: #ff6060;
    margin: 0;
  }

  h3 {
    margin: 0;
    font-size: 18px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
