@import "partials/header";
@import "partials/footer";
@import "partials/home";
@import "partials/nav";
@import "partials/banner";
@import "partials/cardContainer";
@import "partials/404";
@import "partials/content";
@import "partials/logementDetail";
@import "partials/carousel";

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
